<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  	<![endif]-->
  	<style>
  		.ant-tabs-nav-wrap{
				line-height:21px;
			}
  	</style>
  </head>
  <body>
    <div id='root'>
    </div>
  </body>
</html>